name: Publish

on:
  push:
    branches: [ master ]

jobs:
  publish:
    name: Publish the app
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    
    - name: Publish
      shell: pwsh
      run: |
        Set-Location "$env:GITHUB_WORKSPACE"
        dotnet build
        dotnet publish -c release -r win-x64 -o "Release\win-x64" --sc --nologo
        Compress-Archive -Path "Release\win-x64\" -DestinationPath "SDB-win-x64.zip"
      
    - name: Upload zip
      uses: actions/upload-artifact@v3
      with:
        name: My Artifact
        path: ./*.zip
        if-no-files-found: warn
        
    - name: Create Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        files: ./*.zip
